@import 'tailwindcss';

.react-pdf__Document {
  width: fit-content;
  margin: 0 auto;
}

.canvas-container {
  position: absolute !important;
  top: 0;
  left: 0;
  z-index: 10;
  pointer-events: auto;
}
